<%- include("partials/header")%>
  <%- include("partials/nav")%>
    <!--  -->

    <div class="rounded p-5 mt-5  container ">
      <a href="/create-book" class="mb-5 btn btn-primary">Create New Book</a>
      <h1 class="mb-5 fs-1 fw-bolder">Registered Books</h1>
      <div class="cards d-flex flex-wrap">


        <% books.forEach(book=> { %>
          <!--  -->
          <div class="card me-3 mb-3" style="width: 18rem;">
            <img src="/images/<%= book.poster%>" style="height: 25vh;object-fit: cover;object-position: center;"
              class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">
                <%= book.name %>
              </h5>
              <h6>
                <%= book.author%>
              </h6>
              <p class="mt-3 card-text">
                <%= book.description.slice(0,80)%>...
              </p>
              <a href="/details/<%= book._id%>" class="btn btn-primary">Explore Book</a>
            </div>
          </div>
          <!--  -->
          <% }) %>





      </div>
    </div>

    <!--  -->
    <%- include("partials/footer")%>